body{
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabs a.active span {
    border-bottom: 2px solid black;
}

.casinhas {
    align-self: flex-end;
}

.flexAligner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.laranja {
    background-color: #F39B13;
}

.verde-azul {
    background-color: #48CAB0;
}

.cor-logo {
    background-color: #2CC083;
}

.verde {
    background-color: rgb(76, 175, 80);
}

.vermelho{
    background-color: #E84C3D;
}

.text-vermelho {
    color: #E84C3D;
}

.light-color {
    background-color: #ECEDEF;
}

.dark-color {
    background-color: #36485C;
    color: white;
}

.azul {
    background-color: #3997D7;
}

.background-light {
    background-image: url("imgs/padraoSub-01.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: black;
}

.icones {
    display: flex;
    justify-content: space-around
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 3rem 3rem -1rem rgba(10,10,10,.2);
    border-radius: 10px;
}

.card-footer {
    background-color: #E84C3DB3;
    color: white;
}

.image img {
    border-radius: 50px;
}