.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabs a.active span {
    border-bottom: 2px solid black;
}

.casinhas {
    align-self: flex-end;
}

.flexAligner{
    display: flex;
    align-items: center;
    justify-content: center;
}

